node_modules
.env
.env.local
.env.development
.env.test
.env.production
.env.*
.idea/*
.DS_Store
server/.eslintcache

dist/
build/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*


# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# Docker
.dockerignore
